<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.7/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body>
    <header th:replace="/fragments/navbar :: header-navbar"></header>
    <!-- Sidebar -->
    <div class="sidebar position-fixed d-flex flex-column border-end border-secondary-subtle">
      <ul class="nav flex-column">
        <li class="nav-item border-bottom border-secondary-subtle"><a th:href="@{/offerte}"
                    class="nav-link"><i class="bi bi-percent w-2"></i> Offerte</a></li>
      </ul>
    </div>
    <header class="content-title d-flex align-items-center justify-content-between border-bottom border-secondary-subtle" th:object="${ingrediente}">
        <h3 class="title">Nuovo Ingrediente</h3>
    </header>
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;); margin-top: 70px; padding-left: 200px;"
        aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item text-decoration-none"><a th:href="@{/}">Home</a></li>
            <li class="breadcrumb-item text-decoration-none"><a th:href="@{/pizze}">Pizze</a></li>
            <li class="breadcrumb-item text-decoration-none"><a th:href="@{/ingredienti}">Ingredienti</a></li>
            <li class="breadcrumb-item active" aria-current="page">Nuovo ingrediente</li>
        </ol>
    </nav>

    <main th:object="${ingrediente}" style="padding-top: 20px;">
        <form class="row g-3" style="margin-left: 300px; margin-right: 100px;" id="ingrediente-form"
            th:action="@{/ingredienti/creazione}" method="post">
            <div class="col-md-6">
                <label for="nome" class="form-label">Titolo</label>
                <input type="text" th:field="*{nome}" class="form-control" id="nome" th:errorClass="is-invalid">
                <div th:if="${#fields.hasErrors('nome')}" class="invalid-feedback">
                    <ul>
                        <li th:each="err : ${#fields.errors('nome')}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>
            
            <div class="col-md-6">
                <label for="descrizione" class="form-label">Descrizione</label>
                <textarea class="form-control" th:field="*{descrizione}" aria-label="es. Pomodoro e basilico"
                    th:errorClass="is-invalid"></textarea>
                <div th:if="${#fields.hasErrors('descrizione')}" class="invalid-feedback">
                    <ul>
                        <li th:each="err : ${#fields.errors('descrizione')}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>
            <div class="d-flex justify-content-between col-md-12">
                <button type="submit" name="azione" value="save" class="btn btn-success">Aggiungi</button>
                <button type="submit" name="azione" value="cancel"  class="btn btn-warning">Annulla</button>
            </div>
        </form>


    </main>


    <script th:src="@{/webjars/bootstrap/5.3.7/js/bootstrap.bundle.min.js}"></script>
    <script>
        document.getElementById('segnaTutteComeLette').addEventListener('click', function () {
            fetch('/notifiche/segna-tutte-lette', {
                method: 'POST',
                headers: {
                    'X-CSRF-TOKEN': document.querySelector('meta[name="_csrf"]').getAttribute('content'),
                    'Content-Type': 'application/json'
                }
            })
                .then(response => {
                    if (response.ok) {
                        // Imposta il badge a 0
                        document.querySelector('.notifiche').textContent = '0';
                         this.disabled = true;
                    } else {
                        console.error('Errore durante la richiesta');
                    }
                })
                .catch(error => {
                    console.error('Errore di rete:', error);
                });
        });
    </script>
</body>

</html>