<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.7/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <header th:replace="/fragments/navbar :: header-navbar"></header>
    <main class="py-4">
        <div class="container-titolo mt-2 mb-3">
            <h3>Ingredienti</h3>
            <p class="text-secondary">Qui sono inseriti tutte gli ingredienti delle pizze</p>
        </div>

        <div class="col-12 tabella-pizze rounded">
            <div class="mb-2 text-start">
                <a th:href="@{/ingredienti/creazione}" class="text-decoration-none">
                    <button class="btn btn-md btn-dark">Aggiungi</button>
                </a>
            </div>
            <form class="d-flex mb-2" role="search" method="get" th:action="@{/ingredienti}">
                <div class="input-group">
                    <button class="btn btn-outline-dark" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                    <input name="keyword" class="form-control" type="search" placeholder="Cerca" aria-label="Cerca" th:value="${keyword}"/>
                </div>
            </form>
            <table class="table table-striped table-hover table-border rounded-corners" th:object="${ingrediente}">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Titolo</th>
                        <th scope="col">Descrizione</th>
                        <th scope="col">Pizze</th>
                        <th scope="col">Azioni</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="ingrediente : ${ingredienti}">
                        <td th:text="${ingrediente.id}" class="align-middle text-center">
                            </th>
                        <td th:text="${ingrediente.nome}" style="font-weight: 700;" class="align-middle text-start"></td>
                        <td th:text="${ingrediente.descrizione}" class="align-middle text-start"></td>
                        <td th:text="${ingrediente.getPizze().size()}" class="align-middle text-start"></td>
                        <td style="text-align: center;" class="align-middle text-center p-0">
                            <a th:href="@{/ingredienti/modifica/{id}(id=${ingrediente.id})}" class="text-decoration-none">
                                <button class="btn btn-sm btn-dark"><i class="bi bi-pencil"></i></button>
                            </a>

                            <button type="button" class="btn btn-sm btn-dark" data-bs-toggle="modal"
                                th:data-bs-target="'#delete-modal-' + ${ingrediente.id}">
                                <i class="bi bi-trash"></i>
                            </button>






                            <!-- Modal -->
                            <div class="modal fade" th:id="'delete-modal-' + ${ingrediente.id}" data-bs-backdrop="static"
                                data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5 text-start" id="staticBackdropLabel">
                                                Eliminazione dell'ingrediente <strong>[[${ingrediente.nome}]]</strong></h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p class="text-start">Sei sicuro di voler eliminare l'ingrediente
                                                [[${ingrediente.nome}]]?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary btn-sm"
                                                data-bs-dismiss="modal">Chiudi</button>
                                            <form th:action="@{/ingredienti/elimina/{id}(id=${ingrediente.id})}" method="post">
                                                <button type="submit" class="btn btn-sm btn-danger">Elimina</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </main>


    <script th:src="@{/webjars/bootstrap/5.3.7/js/bootstrap.bundle.min.js}"></script>
</body>

</html>