
.sidebar {
      width: 180px;
      margin-top: 50px;
      min-height: 100vh;
      background-color: #1f2225;
      color: white;
    }
    .sidebar a {
      color: white;
      text-decoration: none;
    }
    .sidebar a:hover {
      background-color: #4d555e;
      color: white;
    }
    

.tabella-pizze{
    padding-left: 200px;
    padding-right: 20px;
}
.navbar{
  background-color: #343a40;
  color: white;
}
.main-content{
  height: 56px;
}
/* Arrotonda gli angoli della tabella */
table.rounded-corners {
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
}

/* Intestazione in alto */
table.rounded-corners thead th:first-child {
  border-top-left-radius: 10px;
}
table.rounded-corners thead th:last-child {
  border-top-right-radius: 10px;
}

/* Ultima riga in basso */
table.rounded-corners tbody tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
table.rounded-corners tbody tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}
.chart-container {
  position: relative;
  width: 380px;
  height: 200px;
}
.container-titolo{
  padding-left: 200px ;
}
.dropdown-toggle{
  background-color: #343a40;
  color: white;
}
.list-group-item{
  background-color: #f8f9fa;
  color: black;
}




