<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>
  <header>
    <!-- Sidebar -->
    <div class="sidebar position-fixed d-flex flex-column">
      <ul class="nav flex-column">
        <li class="nav-item border-bottom border-secondary-subtle"><a th:href="@{/}" class="nav-link active">Home</a>
        </li>
        <li class="nav-item border-bottom border-secondary-subtle"><a th:href="@{/pizze}" class="nav-link">Pizze</a>
        </li>
        <li class="nav-item border-bottom border-secondary-subtle"><a th:href="@{/ingredienti}"
            class="nav-link">Ingredienti</a></li>
      </ul>
    </div>

    <!-- Main content -->
    <div class="main-content" th:fragment="header-navbar">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg p-0 fixed-top border-bottom border-secondary-subtle">
        <div class="container-fluid">
          <a class="navbar-brand ps-2 py-0 mb-2" th:href="@{/}">
            <img th:src="@{/img/logo-pizza.png}" alt="Logo Loco Pizza" width="45px" height="45px">
          </a>
          <div class="row align-items-center " style="width: 500px; height: 50px;">

            <div
              class="col text-center d-flex align-items-center justify-content-center border-start border-secondary-subtle chart-icon pe-0"
              style="height: 50px;">
              <a th:href="@{/}">
                <img width="26" height="26" th:src="@{https://img.icons8.com/material-rounded/24/9c9c9c/bar-chart.png}"
                  alt="bar-chart"
                  th:onmouseover="|this.src='https://img.icons8.com/material-rounded/24/000000/bar-chart.png'|"
                  th:onmouseout="|this.src='https://img.icons8.com/material-rounded/24/9c9c9c/bar-chart.png'|" />
              </a>
            </div>

            <div class="col text-center d-flex align-items-center justify-content-center orologio-icon p-0"
              style="height: 50px;">
              <a th:href="@{/calendario}">
                <img width="26" height="26" th:src="@{https://img.icons8.com/windows/32/9c9c9c/clock--v3.png}"
                  alt="clock--v3" th:onmouseover="|this.src='https://img.icons8.com/windows/32/000000/clock--v3.png'|"
                  th:onmouseout="|this.src='https://img.icons8.com/windows/32/9c9c9c/clock--v3.png'|" />
              </a>
            </div>

            <div
              class="col text-center d-flex align-items-center justify-content-center border-end border-secondary-subtle pizza-icon ps-0"
              style="height: 50px;">
              <a th:href="@{/pizze}">
                <img width="21" height="21" th:src="@{https://img.icons8.com/ios-filled/50/9c9c9c/pizza.png} "
                  th:onmouseover="|this.src='https://img.icons8.com/ios-filled/50/000000/pizza.png'|"
                  th:onmouseout="|this.src='https://img.icons8.com/ios-filled/50/9c9c9c/pizza.png'|" alt="pizza" />
              </a>
            </div>

            <div
              class="col text-center border-end border-secondary-subtle d-flex align-items-center justify-content-center notifiche-icon"
              style="height: 50px;">
              <a th:href="@{/}" class="d-flex align-items-center text-decoration-none">
                <img width="24" height="24" th:src="@{https://img.icons8.com/material-sharp/24/9c9c9c/bell.png}"
                  alt="bell" th:onmouseover="|this.src='https://img.icons8.com/material-sharp/24/000000/bell.png'|"
                  th:onmouseout="|this.src='https://img.icons8.com/material-sharp/24/9c9c9c/bell.png'|" />
                <span class="badge ms-1 rounded-pill notifiche" style="padding: 5px 15px;">0</span>
              </a>
            </div>

            <div
              class="col text-center border-end border-secondary-subtle d-flex align-items-center justify-content-center ingranaggio-icon"
              style="height: 50px;">
              <a th:href="@{/}">
                <img width="30" height="30" src="https://img.icons8.com/sf-black/64/9c9c9c/settings--v1.png"
                  alt="settings--v1"
                  th:onmouseover="|this.src='https://img.icons8.com/sf-black/64/000000/settings--v1.png'|"
                  th:onmouseout="|this.src='https://img.icons8.com/sf-black/64/9c9c9c/settings--v1.png'|" />
              </a>
            </div>

            <div th:if="${#authorization.expression('isAuthenticated()')}"
              class="btn-group col text-center d-flex align-items-center justify-content-center"
              style=" width: 80px; height: 50px;">
              <button class="btn dropdown-toggle-icon border-none btn-account" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <img width="36" height="36"
                  th:src="@{https://img.icons8.com/material/48/9c9c9c/user-male-circle--v1.png}"
                  alt="user-male-circle--v1" />
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li class="d-flex justify-content-start m-2 align-items-center">
                  <!-- Immagine utente -->
                  <img width="48" height="48"
                    th:src="@{https://img.icons8.com/material/48/c4c8cb/user-male-circle--v1.png}" alt="user" />

                  <!-- Testo nome + email, uno sotto l'altro -->
                  <div class="ps-2 d-flex flex-column dropdown-header">
                    <span class="fw-bold"
                      th:text="${#authentication.principal.nome + ' ' + #authentication.principal.cognome}"></span>
                    <span class="text-muted" th:text="${#authentication.principal.eMail}"></span>
                  </div>
                </li>

                <li>
                  <hr class="dropdown-divider">
                </li>

                <li class="m-2 text-secondary">
                  <strong class="text-secondary">Ruolo:</strong>
                  <span th:text="${#strings.listJoin(#authentication.authorities, ', ')}"></span>
                </li>

                <li>
                  <hr class="dropdown-divider">
                </li>

                <li class="d-flex justify-content-start m-2">
                  <span><a th:href="@{/logout}" class="btn btn-sm btn-danger">Esci</a></span>
                </li>
              </ul>

            </div>
            <!-- SE NON LOGGATO -->
            <div th:unless="${#authorization.expression('isAuthenticated()')}"
              class="col text-center d-flex align-items-center justify-content-center">
              <span>
                <a th:href="@{/login}" class="btn btn-secondary" style="padding: 5px 10px;">Accedi</a>
              </span>
            </div>
          </div>

        </div>
      </nav>


    </div>
  </header>
</body>